/* -------------Clients------------- */

.client-logo-list {
  display: flex;
  justify-content: center;
  align-items: center;
}

.client-logo-item:not(:first-child) {
  margin-left: 30px;
}

.client-logo-link {
  width: 170px;
  height: 92px;
  border: 1px solid var(--no-active-color);
  border-radius: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--no-active-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.client-logo-icon {
  fill: currentColor;
}

.client-logo-link:hover,
.client-logo-link:focus {
  color: var(--brand-color);
  border: 1px solid var(--brand-color);
}
