/* -------------Team------------- */

.team.section {
  background: var(--secondary-background);
}

.team-item {
  background: var(--body-background);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.team-list {
  list-style: none;
  display: flex;
  justify-content: space-between;
}

.team-item-botoom {
  padding: 30px 0 30px 0;
}

.team-list .name {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.2;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--heading-color);
}

.team-list .description {
  font-size: 16px;
  line-height: 1.2;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 16px;
}

.team-social-list {
  display: flex;
  justify-content: center;
}

.team-social-item {
  height: 44px;
  width: 44px;
}

.team-social-link {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  color: var(--no-active-color);
  cursor: pointer;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.team-social-icon {
  fill: currentColor;
}

.team-social-link:hover,
.team-social-link:focus {
  color: var(--alternative-text-color);
  background-color: var(--brand-color);
}

.team-social-item:not(:first-child) {
  margin-left: 10px;
}
